<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505114316399-ho0f4acilma4pb4itomi9qj7kf2ppldh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505114316399-ho0f4acilma4pb4itomi9qj7kf2ppldh</string>
	<key>API_KEY</key>
	<string>AIzaSyDv50TcIQ9TF6gSGnk5xrnhiXVShPbXyDY</string>
	<key>GCM_SENDER_ID</key>
	<string>505114316399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.David-Sann.lab5FINAL</string>
	<key>PROJECT_ID</key>
	<string>finalproj-42c9f</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproj-42c9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:505114316399:ios:3573eddf80bc7183</string>
	<key>DATABASE_URL</key>
	<string>https://finalproj-42c9f.firebaseio.com</string>
</dict>
</plist>
